@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    font-size: 14px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    background-color: lightgreen;
    font-size: 16px;
  }
}
@media screen and (min-width: 1201px) {
  body {
    background-color: lightgoldenrodyellow;
    font-size: 18px;
  }
}
#contactform {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#sub {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}